@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body{
    font-family: "Raleway", sans-serif;
    background: #e0e0e0;
    color: #707070;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 450px;
    min-width: 450px;
}

.title{
    font-weight: 700;
    font-size: 50px;   
}

.form-rounded{
    border-radius: 2.5em;
}

.back-card{
    border-radius: 46px !important;
}

.city-name{
    position: absolute;
    width: 100%;
}

.city-name p{
    font-weight: 400;
    font-size: 16pt;
}

.city-name span{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 36pt;
    position: relative;
    top: -60px;
}